@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  box-sizing: inherit;
}

#frontend-web-templates {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

#frontend-web-templates .template {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#frontend-web-templates .card {
  max-width: 18.75rem;
  overflow: hidden;
  background-color: white;
  border: 0.1rem solid gray;
  border-radius: 1.2rem;
  line-height: 0;
}

#frontend-web-templates .card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#frontend-web-templates .card .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  line-height: 1;
  border-top: 0.1rem solid gray;
}
#frontend-web-templates .card button {
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  background-color: hsl(216, 100%, 71%);
  color: white;
}
