@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  box-sizing: inherit;
}

#frontend-web-templates {
  width: 100%;
  padding: 1.5rem;
}

#frontend-web-templates h1 {
  margin-bottom: 1rem;
}

#frontend-web-templates h3 {
  margin-bottom: 1rem;
}

#frontend-web-templates ol li {
  display: flex;
  gap: 1rem;
}
